In [1]:
x = 2
if x == 2:
    print('x value iis two ')

x value iis two

In [2]:
# loops

In [10]:
list(range(90,110, 4))

[90, 94, 98, 102, 106]

In [ ]:
a = [90, 94, 98, 102, 106] --> input
b = [93, 97, 101, 105, 109] --> output

In [12]:
a = [90, 94, 98, 102, 106]

In [19]:
for i in a:
#     print(i+7)
    print('abc')
    print('abc')

abc
abc
abc
abc
abc
abc
abc
abc
abc
abc

In [27]:
for i in range(100):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [28]:
100/2

50.0

In [30]:
100//2

50

In [31]:
99%2

1

In [35]:
for i in range(100):
    if i%4 == 0:
        print(i, end = ' ')

0 4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 72 76 80 84 88 92 96

In [38]:
a_list = []

In [39]:
a_list.append(20)
a_list.append(30)
a_list

[20, 30]

In [41]:
a_even = []
for i in range(100):
    if i%2 == 0:
        a_even.append(i)
a_even

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [42]:
len(a_even)

50

In [47]:
b_even = {}
for i in range(100):
    if i%2 == 0:
        b_even[i] = i**3

In [48]:
b_even

{0: 0,
 2: 8,
 4: 64,
 6: 216,
 8: 512,
 10: 1000,
 12: 1728,
 14: 2744,
 16: 4096,
 18: 5832,
 20: 8000,
 22: 10648,
 24: 13824,
 26: 17576,
 28: 21952,
 30: 27000,
 32: 32768,
 34: 39304,
 36: 46656,
 38: 54872,
 40: 64000,
 42: 74088,
 44: 85184,
 46: 97336,
 48: 110592,
 50: 125000,
 52: 140608,
 54: 157464,
 56: 175616,
 58: 195112,
 60: 216000,
 62: 238328,
 64: 262144,
 66: 287496,
 68: 314432,
 70: 343000,
 72: 373248,
 74: 405224,
 76: 438976,
 78: 474552,
 80: 512000,
 82: 551368,
 84: 592704,
 86: 636056,
 88: 681472,
 90: 729000,
 92: 778688,
 94: 830584,
 96: 884736,
 98: 941192}

In [50]:
for i in "DATA SCience":
    print(i, end = ' ')

D A T A   S C i e n c e

In [59]:
a = '2121232432421121356577687645233412'
a_even = []
a_odd  = []
for i in a:
    if int(i)%2 == 0:
        a_even.append(int(i))
    else:
        a_odd.append(int(i))

In [62]:
'abc' + ' ' + 'def'

'abc def'

In [63]:
a = '2121232432421121356577687645233412'
a_even = ''
a_odd  = ''
for i in a:
    if int(i)%2 == 0:
        a_even = a_even + i
    else:
        a_odd = a_odd + i

In [64]:
print(a_even)
print(a_odd)

22224242266864242
11331113557775331

In [53]:
int('2')/2

1.0

In [72]:
a = '#Hello #GoodMorning How are you ? #twitter #SocialMedia'

In [76]:
a.split(' ')

['#Hello',
 '#GoodMorning',
 'How',
 'are',
 'you',
 '?',
 '#twitter',
 '#SocialMedia']

In [ ]:
# Covert string to a list 
Use a split method

In [73]:
a.split(' ')

['#Hello',
 '#GoodMorning',
 'How',
 'are',
 'you',
 '?',
 '#twitter',
 '#SocialMedia']

In [74]:
a_hash_word = []

for i in a.split():
    if i.startswith('#'):
        a_hash_word.append(i.lstrip('#'))
#     print(i)

In [75]:
a_hash_word

['Hello', 'GoodMorning', 'twitter', 'SocialMedia']

In [77]:
b_sentences = ['Hello Hi ', 'Hey Dude', 'Good Morning friends', 'Hello boys']

In [81]:
' '.join(b_sentences)

'Hello Hi  Hey Dude Good Morning friends Hello boys'

In [88]:
c_senteces = """ HEy how are you ?, What are you doing?, I am trying to learn Data science, I found the trainer is good, 
I feel to learn even data engineering? """

In [89]:
(c_senteces.split(','))

[' HEy how are you ?',
 ' What are you doing?',
 ' I am trying to learn Data science',
 ' I found the trainer is good',
 ' \nI feel to learn even data engineering? ']

In [90]:
'data' in 'data science is a good field, I am expecting 100% hike'

True

In [97]:
for i in c_senteces.split(','):
    if 'data'.lower() in i.lower():
        print(i)

 I am trying to learn Data science

I feel to learn even data engineering?

In [99]:
a_dict = {'Name': ['a','b','c'], 'Age': [20,30,40], 'Gender' : [0,1,1]}
a_dict

{'Name': ['a', 'b', 'c'], 'Age': [20, 30, 40], 'Gender': [0, 1, 1]}

In [101]:
for i in a_dict:
    print(a_dict[i])

['a', 'b', 'c']
[20, 30, 40]
[0, 1, 1]

In [102]:
a_dict.items()

dict_items([('Name', ['a', 'b', 'c']), ('Age', [20, 30, 40]), ('Gender', [0, 1, 1])])

In [103]:
for key,values in a_dict.items():
    print(key, values[0])

Name a
Age 20
Gender 0

In [104]:
for key in a_dict.keys():
    print(key)

Name
Age
Gender

In [105]:
for key in a_dict:
    print(key)

Name
Age
Gender

In [106]:
for values in a_dict.values():
    print(values)

['a', 'b', 'c']
[20, 30, 40]
[0, 1, 1]

In [109]:
import time

In [113]:
time.time()

1677597888.9138322

In [123]:
start = time.time()
a = []
for i in range(1000000000):
    if i%2==0:
        a.append(i)
        
end = time.time()
print(end - start)

139.38255047798157

In [124]:
# Comprehensions

In [125]:
# list comprehension

start = time.time()
a = [i for i in range(1000000000) if i%2==0]
end = time.time()
print(end - start)

121.05446767807007

In [126]:
139.38255047798157/121.05446767807007

1.1514036049347047

In [127]:
[i**2 for i in range(100)]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [129]:
a = 'there was a fox in the forest'
b_words = []
for i in a.split():
    b_words.append(i)
b_words

['there', 'was', 'a', 'fox', 'in', 'the', 'forest']

In [130]:
[i for i in a.split()]

['there', 'was', 'a', 'fox', 'in', 'the', 'forest']

In [137]:
para = ['there was a forest', 'it there was a fox', 'there was a lion','we do have a tiger']

In [138]:
words = []
for sentence in para:
    for word in sentence.split():
        words.append(word)
words

['there',
 'was',
 'a',
 'forest',
 'it',
 'there',
 'was',
 'a',
 'fox',
 'there',
 'was',
 'a',
 'lion',
 'we',
 'do',
 'have',
 'a',
 'tiger']

In [141]:
vowels = ['a','e','i','o','u']
list_vowel_words = []
for sentence in para:
    for word in sentence.split():
        if word[0].lower() in vowels:
            list_vowel_words.append(word)
list_vowel_words

['a', 'it', 'a', 'a', 'a']

In [140]:
[word for sentence in para for word  in sentence.split() if word[0].lower() in vowels]

['a', 'it', 'a', 'a', 'a']

In [135]:
[word for sentence in para for word in sentence.split()]

['there',
 'was',
 'a',
 'forest',
 'there',
 'was',
 'a',
 'fox',
 'there',
 'was',
 'a',
 'lion',
 'we',
 'do',
 'have',
 'a',
 'tiger']

In [142]:
# dict comprehension

In [143]:
a_dict = {}
for i in range(10):
    a_dict[i] = i**2
a_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [144]:
{i: i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [146]:
a = {i: i**3 for i in range(20) if i%2==0}

In [147]:
a

{0: 0,
 2: 8,
 4: 64,
 6: 216,
 8: 512,
 10: 1000,
 12: 1728,
 14: 2744,
 16: 4096,
 18: 5832}

In [148]:
a = [22,13,15,20,17,130,23,14,70]

In [149]:
b_num = []

for i in a:
    if i>40:
        b_num.append(i+3)
    else:
        b_num.append(i+10)
b_num

[32, 23, 25, 30, 27, 133, 33, 24, 73]

In [151]:
[i+3 if i>40 else i+10 for i in a]

[32, 23, 25, 30, 27, 133, 33, 24, 73]